.Home{
  margin-top: 50px;
}

.tag-input-group{
  margin-bottom: 50px;
  color: #036564;
}

label{
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: right;
}

.tag-input{
  height: 30px;
  background: #031634;
  border: none;
  border-bottom: 2px solid #036564;
  color: #036564;
}

.question{
  cursor:pointer;
}

.question .author{
  text-align: right;
  padding-left: 20px;
  font-size: 12px;
}

#tag{
  font-size: 11px;
}
