.Home{
  margin-top: 50px;
}

.tag-input-group{
  margin-bottom: 20px;
  color: #036564;
}

.Home label{
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: right;
}

.tag-input{
  height: 30px;
  background: #031634;
  border: none;
  border-bottom: 2px solid #036564;
  color: #036564;
}

.question-holder{
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

#tag{
  font-size: 11px;
}

#buttons-container{
  text-align: center;
  margin-bottom: 20px;
}

.button {
  padding: 5px;
  margin: 0 10px;
  font-size: 25px;
}

.answer-form form {
  height: 200px;
}

.profile-picture{
  height: 50px;
  width: 50px;
}

.answers {
  margin: 0 auto;
}
